<% content_for :title do %>
  <title>NishAlugeis - Início</title>
<% end %>
<% content_for :styles do %>
<% end %>

<section class="site-section bg-light bg-image" id="contact-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <!-- <h3 class="section-sub-title">Get</h3> -->
        <h2 class="section-title mb-3">Contate-Nos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 mb-5">



        <form action="#" class="p-5 bg-white">

          <h2 class="h4 text-black mb-5">Formulário de Contato</h2>

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" for="fname">Primeiro Nome</label>
              <input type="text" id="fname" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="text-black" for="lname">Sobrenome</label>
              <input type="text" id="lname" class="form-control">
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" for="email">E-mail</label>
              <input type="email" id="email" class="form-control">
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" for="subject">Assunto</label>
              <input type="subject" id="subject" class="form-control">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="message">Menssagem</label>
              <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Escreva suas notas ou perguntas aqui..."></textarea>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Enviar Menssagem" class="btn btn-primary btn-md text-white">
            </div>
          </div>


        </form>
      </div>
      <div class="col-md-5">

        <div class="p-4 mb-3 bg-white">
          <p class="mb-0 font-weight-bold">Endereço</p>
          <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

          <p class="mb-0 font-weight-bold">Telefone</p>
          <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

          <p class="mb-0 font-weight-bold">Endereço de E-mail</p>
          <p class="mb-0"><a href="#">youremail@domain.com</a></p>

        </div>

      </div>
    </div>
  </div>
</section>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
      <% unless flash[:logout].blank? %>
        toastr.warning("<%= flash[:logout] %>", "Sessão encerrada.")
      <% end %>
  </script>
<% end %>