<footer class="site-footer" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5">
            <h2 class="footer-heading mb-4">Sobre RecibosNS</h2>
            <p>Observando a dificuldade de quem quer manter suas finanças organizadas, desenvlvemos essa aplicação, oferençendo assim uma ferramenta fácil de usar e bem eficiente.</p>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Links Rápidos</h2>
            <ul class="list-unstyled">
              <li><a href="/">Início</a></li>
              <li><a href="#howitworks-section">Serviços</a></li>
              <li><a href="#contact-section">Contate-nos</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-4">
          <h2 class="footer-heading mb-4">Assine o Newsletter</h2>
          <form action="#" method="post" class="footer-subscribe">
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Digite o Email" aria-label="Digite o Email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary text-black" type="button" id="button-addon2">Enviar</button>
              </div>
            </div>
          </form>
        </div>

        <div class="">
          <h2 class="footer-heading mb-4">Siga-nos</h2>
          <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
        </div>


      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            Copyright &copy; <%= Time.now.year %> Todos os direitos reservados | EdereçosNS é desenvolvido com <i class="icon-heart" aria-hidden="true"></i> por <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=100070366787908" target="_blank" >Nishlem Soft</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>